* {
	box-sizing: border box;
}

.first{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width:500px;
  height: 100px;
}

.second{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 240px;
  height: 200px;
  margin-right:13px;
  margin-top:7px;
  float: left;
}

.third{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 240px;
  height: 200px;
  margin-top:7px;
  margin-bottom: 7px;
  float: left;
}

.fourth{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 160px;
  height: 100px;
  margin-top:7px;
  margin-bottom: 13px;
  margin-right: 6px;
  clear:both;
  float: left;
}

.fifth{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 160px;
  height: 100px;
  margin-top:7px;
  margin-bottom: 13px;
  margin-right: 6px;
  float: left;
}

.sixth{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 160px;
  height: 100px;
  margin-top:7px;
  margin-bottom: 13px;
  float: left;
}

.seventh{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 500px;
  height: 100px;
  clear: both;
}

